body {
  background: #1c1e21;
  overflow: hidden;
}

.block-modal {
  background: #1c1e21;
  margin-left: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 200%;
}

p {
  color: #4bae4f;
  font-size: 16px;
  margin-left: 20px;
}

.button-group-confirm {
  position: relative;
  top: 15%;
  display: flex;
}

.button-group-confirm button {
  margin-left: 20px;
  width: 120px;
  height: 40px;
}

button {
    cursor: pointer;
}