body {
  position: fixed;
  border-radius: 8px 8px 0 8px;
  background-color: #f3f3f3;
  border: 1px solid #d1cfcf;
  top: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  width: 310px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    Roboto, "Hiragino San", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP",
    "Yu Gothic", sans-serif;
}

.title-bar {
  margin-top: 10px;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px solid #d1cfcf;
}

.title-bar * {
  padding-left: 3px;
  padding-bottom: 3px;
}

.title-bar img {
  width: 16px;
  height: 16px;
}

.title-bar .title {
  align-items: center;
  padding-left: 30px;
  font-weight: 600;
}

.header {
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 10px;
  z-index: 10;
}

.sub-select {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.sub-select i {
  margin-left: 20px;
}

.sub-select p {
  margin-top: 0px;
  padding-left: 10px;
}

.buttons {
  padding: 10px 10px 10px 15px;
}

.buttons button {
  border-color: #d1cfcf;
  border-radius: 5px;
  height: 30px;
}

.logoheader img {
  display: block;
  max-width: 80px;
  max-height: 40px;
  width: auto;
  height: auto;
}

.floors {
  position: absolute;
  z-index: 0;
  left: 22px;
}

.floors .add {
  margin-left: 275px;
  font-weight: lighter;
  height: 30px;
  width: 15px;
  padding-left: 3px;
  border: 1px solid black;
  border-radius: 0 0 5px 0;
}

.floors .add-new {
  height: 40px;
  cursor: pointer;
}

.floors p {
  padding-left: 5px;
  font-size: 15px;
  color: #ffffff;
  width: 15px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.floor {
  margin-left: 290px;
  height: 70px;
  width: 25px;
  border: 0px solid white;
  border-radius: 0 10px 10px 0;
  text-align: center;
  position: absolute;
  cursor: pointer;
}

.room-list {
  margin-left: 10px;
  width: 290px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70%;
}

#room-list::-webkit-scrollbar-track {
  border-radius: 1px;
}

#room-list::-webkit-scrollbar {
  width: 1px;
}

#room-list::-webkit-scrollbar-thumb {
  border-radius: 1px;
}

.room {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5px;
  z-index: 10;
}

.room .user {
  cursor: pointer;
  /* justify-content: space-between; */
}

.header-room {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 5px 0 0 5px;
  /* padding-left: 10px; */
  margin-top: 8px;
}

.header-room i {
  padding: 20px 20px 20px 20px;
}

.header-room img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.user {
  display: flex;
  align-items: center;
}

.user * {
  width: 30px;
  text-align: center;
}

.user .btn {
  background-color: #febdb5;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 3px;
  width: 50px;
}

.user h4 {
  min-width: 70px;
  text-align: left;
}

.user .logo-user {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.user .logo-user img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.footer {
  z-index: 20;
  border-radius: 5px 0 0 5px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 70px;
  width: 300px;
  align-items: center;
  background-color: #f3f3f3;
  bottom: 8px;
  padding-left: 10px;
  border-color: #625959;
  border: 1px solid #d1cfcf;
}

.footer * {
  text-align: center;
  width: 35px;
}

.footer .buttons {
  width: 98px;
}

.footer .buttons button {
  width: 98px;
}

.add {
  position: absolute;
  top: 200px;
  border: 1px solid black;
  border-radius: 5px;
  color: #ffffff;
  background-color: white;
  z-index: 9999;
  width: 300px;
  left: 5px;
  height: 150px;
}

.add * {
  margin-left: 40px;
}

.add p {
  color: black;
  padding-left: 10px;
  margin-bottom: 0px;
}

.input {
  margin-left: 10px;
}

input {
  width: 195px;
  height: 30px;
  border-radius: 5px;
}

.add .btn * {
  color: #ffffff;
  margin-top: 10px;
  margin-left: 10px;
  height: 35px;
  width: 94px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.cancel {
  background-color: #6b7280;
}

.confirm {
  background-color: #7277de;
}

.add .warring {
  margin-left: 0px;
  margin-top: -5px;
  color: #ff0000;
  font-size: 10px;
}

button {
  cursor: pointer;
}

.add {
  cursor: pointer;
}

.button {
  cursor: pointer;
}

.image-room {
  height: 60px;
  width: 40px;
}
