body {
  position: fixed;
  border-radius: 8px 8px 0 8px;
  background-color: #f3f3f3;
  border: 1px solid #d1cfcf;
  top: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  width: 310px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    Roboto, "Hiragino San", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP",
    "Yu Gothic", sans-serif;
}

.title-bar {
  margin-top: 10px;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px solid #d1cfcf;
}

.title-bar * {
  padding-left: 3px;
  padding-bottom: 3px;
}

.title-bar img {
  width: 16px;
  height: 16px;
}

.title-bar .title {
  align-items: center;
  padding-left: 30px;
  font-weight: 600;
}

.header {
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 10px;
  z-index: -10;
  width: 290px;
}
.header p{
  /* position: relative; */
}

.sub-select {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.sub-select i {
  margin-left: 20px;
}

.sub-select p {
  margin-top: 0px;
  padding-left: 10px;
}

.buttons {
  padding: 10px 10px 10px;
}

.buttons button {
  border-color: #d1cfcf;
  border-radius: 5px;
  height: 30px;
  left: 20px;
  bottom: -100px;
}

.logoheader img {
  display: block;
  max-width: 80px;
  max-height: 40px;
  width: auto;
  height: auto;
}

.settingbutton {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 12px;
};

/* .floors {
  position: absolute;
  z-index: 0;
  left: 22px;
}

.floors .add {
  margin-left: 275px;
  font-weight: lighter;
  height: 30px;
  width: 15px;
  padding-left: 3px;
  border: 1px solid black;
  border-radius: 0 0 5px 0;
}

.floors .add-new {
  height: 40px;
  cursor: pointer;
}

.floors p {
  padding-left: 5px;
  font-size: 15px;
  color: #ffffff;
  width: 15px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.floor {
  margin-left: 290px;
  height: 70px;
  width: 25px;
  border: 0px solid white;
  border-radius: 0 10px 10px 0;
  text-align: center;
  position: absolute;
  cursor: pointer;
} */

.room-list {
  position: absolute;
  top: 300px;
  margin-left: 10px;
  width: 290px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70%;
}

#room-list::-webkit-scrollbar-track {
  border-radius: 1px;
}

#room-list::-webkit-scrollbar {
  width: 1px;
}

#room-list::-webkit-scrollbar-thumb {
  border-radius: 1px;
}

.room {
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* flex-direction: column; */
  width: 290px;    /*setting chiều ngang*/
  padding-bottom: 5px;
  z-index: 10;
  position: absolute;
  top: 130px;
}

.room .user {
  cursor: pointer;
  justify-content: space-between;
}

.header-room {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  margin-top: 8px;
}

.header-room i {
  padding: 20px 20px 20px 20px;
}

/* .header-room img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 5px;
} */

.svg-circle{
  background: red;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.user {
  display: flex;
  align-items: center;
}

.user * {
  width: 30px;
  text-align: center;
}

.user .btn {
  background-color: #febdb5;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 3px;
  width: 50px;
}

.user h4 {
  min-width: 110px;
  text-align: left;
}

.user .logo-user {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.user .logo-user img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.footer {
  z-index: 20;
  /* border-radius: 5px 0 0 5px; */
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 70px;
  width: 290px;
  align-items: center;
  background-color: #f3f3f3;
  bottom: 8px;
  padding-left: 10px;
  border-color: #625959;
  border: 1px solid #d1cfcf;
  position: fixed;
  bottom: 0;
  margin: 0;
}

.footer * {
  text-align: center;
  width: 50px;
}

.footer .buttons {
  width: 98px;
}

.footer .buttons button {
  width: 98px;
}

.add {
  position: absolute;
  top: 200px;
  border: 1px solid black;
  border-radius: 5px;
  color: #ffffff;
  background-color: white;
  z-index: 9999;
  width: 300px;
  left: 5px;
  height: 150px;
}

.add * {
  margin-left: 40px;
}

.add p {
  color: black;
  padding-left: 10px;
  margin-bottom: 0px;
}

.input {
  margin-left: 10px;
}

input {
  width: 195px;
  height: 30px;
  border-radius: 5px;
}

.add .btn * {
  color: #ffffff;
  margin-top: 10px;
  margin-left: 10px;
  height: 35px;
  width: 94px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.cancel {
  background-color: #6b7280;
}

.confirm {
  background-color: #7277de;
}

.add .warring {
  margin-left: 0px;
  margin-top: -5px;
  color: #ff0000;
  font-size: 10px;
}

button {
  cursor: pointer;
}

.add {
  cursor: pointer;
}

.button {
  cursor: pointer;
}

.image-room {
  height: 60px;
  width: 40px;
}

.show-status {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 98px;
  bottom: 50px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  z-index: 1;
  /* margin-left: 60px; */
}

.show-status p {
  width: 95px;
  height: 20px;
  text-align: left;
  padding-left: 5px;
  cursor: pointer;
  font-size: 14px;
}

.show-status p:hover {
  background-color: #d9d9d9;
}

.status-users {
  border: 1px solid #d9d9d9;
  width: 70px;
  height: 32px;
  font-size: 11px;
  margin-left: -10px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#status {
  position: static;
}

/* .headphone button{
  width: 20px;
  height: 20px;
} */

.statusMicHeadphone {
  position:absolute;
  height: 50px;
  width: 300px;
  align-items: center;
  background-color: #f3f3f3;
  bottom: 70px;
}
.statusMicHeadphone button{
  position: static;
  right: -120px;
  bottom: -50px;
  background-color: aqua;
}
.micbutton{
  position: absolute;
  right: 100px;
  bottom: 14px;
}
.headphonebutton{
  position: absolute;
  right: 60px;
  bottom: 11px;
}
.screenbutton{
  position: absolute;
  right: 20px;
  bottom: 14px;
}


.status{
  position: absolute;
  left: 20px;
  bottom: -43px;
}

.exitbutton{
  position: absolute;
  right: 30px;  
  bottom: 45px;
}
.exitbutton i{
  position: absolute;
}





/* Tạo phàn tử dưới 
logo monolisix */
.sub-header {
  position:absolute;
  height: 50px;
  width: 310px;
  align-items: center;
  top: 90px;
  background-color: #f3f3f3;
  display: flex;
  /* padding-left: 10px; */
}
.barItem1 a{
  background-color: rgb(255, 89, 89);
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  border-radius: 15px 15px 15px 15px;
  padding: 5px;
  margin-left: 5px;
}
.barItem2 a{
  background-color: rgb(218, 208, 208);
  position: absolute;
  right: 125px;
  top: 10px;
  border-radius: 15px 15px 15px 15px;
  padding: 5px;
  margin-left: 5px;

}
.barItem3 a{
  background-color: rgb(218, 208, 208);
  position: absolute;
  right: 60px;
  top: 10px;
  border-radius: 15px 15px 15px 15px;
  padding: 5px;
  margin-left: 5px;
}

.svg-circleplus { 
  height: 40px;
  stroke: rgb(218, 208, 208);
  position: absolute;
  right: 20px;
  top: 8px;
}





/*select-option*/
body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: #f3f3f3;
  color: black;
  padding: 12px;
  width: 200px;
  border: none;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgb(218, 208, 208);
  background-color: #f3f3f3;
  pointer-events: none;
}

.box select option {
  padding: 30px;
}
.box select option img{
  padding: 0px;
  top:0px;
}








/*notification*/
.Button {
  background-color: grey;
  border: 0;
  border-radius: 10px;
  color: inherit;
  display: inline-block;
  font: inherit;
  width: 45px;
  height: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

/**
 * Override default focus styles so we can apply our own.
 * Never do this unless you will replace them!!
 */

.Button:focus {
  outline: none;
}

.Button::-moz-focus-inner {
  border: 0;
}

.Button-inner {
  align-items: center;
  /* background: whitesmoke; */
  border: 2px solid transparent;
  color: black;
  display: flex;
  height: 2.5em;
  min-width: 25em;
  position: relative;
  transition: 0.2s ease;
  width: 100%;
  bottom: 10px;
  left: 50px
}

.Button:focus .Button-inner {
  border-color: #fff;
  /* box-shadow: 0 0 0 2px #456BD9; */
}

.Button:hover .Button-inner {
  filter: brightness(1.1);
}

.Button:active .Button-inner {
  filter: brightness(0.9);
}
.Button span{
  text-align: bottom;
}

/**
 * Demo styles
 */

* {
  box-sizing: border-box;
  margin: 0;
}


.Badge {
  align-items: center;
  background: #ce2c6c;
  border: 2px solid #fff;
  border-radius: 99em;
  color: black;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  height: 1.8em;
  justify-content: center;
  line-height: 1;
  width: 1.44em;
  position: absolute;
  right: -2px;
  bottom: -2px;
  text-align: bottom;
}
.Badge p{
  bottom: 10px;
}






























body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}
.custom-select .dropdown {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.dropdown .img-wrapper,
.placeholder .img-wrapper {
  display: inline-block;
  max-width: 30px;
}

.dropdown img,
.placeholder img {
  max-width: 100%;
}

.placeholder {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

/*dấu mũi tên*/
.placeholder::before,
.placeholder::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 10px;
  background-color: #aaa;
  position: absolute;
  right: 0;
}

.placeholder::before {
  transform: rotate(45deg);
  right: 20px;
}

.placeholder::after {
  transform: rotate(-45deg);
  right: 15px;
}

.custom-select.active .placeholder::after {
  right: 20px;
}

.custom-select.active .placeholder::before {
  right: 12px;
  
}
/**/

.custom-select.active .dropdown {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 6px 1px #ddd;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  width: 200px;
}

.dropdown li:not(:last-child) {
  border-bottom: 1px solid #aaa;
}
/* 
.dropdown li:hover {
  box-shadow: 0px 0px 11px 1px rgba(182, 182, 182, 0.75) inset;
} */

.custom-select {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100px;
}
input {
  border: 0;
  outline: none;
  box-shadow: none;
  width: 40px;
  display: inline-block;
  height: 30px;
  text-align: right;
}

.wrapper {
  display: inline-flex;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-items: center;
}

.input-label {
  position: absolute;
  background-color: #fff;
  top: -6px;
  display: inline-block;
  left: 10px;
  padding: 0 5px;
  color: #aaa;
}












